/* Main container for the popup */
.main-container-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
    display: none; /* Hidden by default */
    transition: opacity 0.4s, transform 0.4s;
    opacity: 0;
    width: 500px;
    height: 250px;

    @media (max-width: 600px) {
        width: 60%;
        height: 380px;
    }
    & .wrapper-popup {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        & .image-wrapper {
            max-width: 100%;
            border-radius: 10px;
            object-fit: cover;

            img {
                max-width: 262px;
                max-height: 300px;
                object-fit: cover;
                height: 300px;

                @media (max-width: 600px) {
                    max-width: 100%;
                    height: 170px;
                    width: 350px;
                    object-fit: cover;
                }
            }
        }

        /* Content wrapper */
        .content-wrapper {
            text-align: center;
            padding: 10px 15px 15px 15px;   
            display: flex;      
            flex-direction: column;   

            @media (min-width: 600px) {
                position: relative;
                top: -36px; 
                padding: 0px 15px 15px 15px;
            }

            /* Header */
            h4 {
                margin: 30px 0px 10px 0px;
                @media (max-width:600px) {
                    margin: 15px 0px 7px 0px;
                }
            }

            span {
                padding: 3px;
            }

            /* Button */
            .button {
                background: #007bff;
                color: white;
                padding: 10px 20px;
                margin-top: 17px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                transition: background 0.3s;
                position: relative;
                top: 10px;
                @media (max-width: 600px) {
                    width: 100%;
                    max-width: 150px;
                    display: flex;
                    align-self: center;
                    justify-content: center;
                }

                a {
                    color: #fff;
                }
            }

            .button:hover {
                background: hsl(250, 69%, 61%);
            }

            /* Close button */
            .close-button {
                position: absolute;
                top: -20px;
                right: 10px;
                font-size: 24px;
                cursor: pointer;
                transition: color 0.3s;
                color: rgb(0, 0, 0);

                @media (max-width: 600px) {
                    color: #fff;
                    font-size: 28px;
                    position: absolute;
                    top: 2px;
                }
            }

            .close-button:hover {
                color: hsl(250, 69%, 61%);
            }
        }
    }
}

.show-popup {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.hide-popup {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
}