
#slow-network {
  display: none;
  font-family: 'Arial', sans-serif; /* Set the font family */
  font-size: 16px; /* Set the font size */
  color: #555555; /* Set a softer text color */
  background-color: #f0e9e9; /* Set a softer background color */
  padding: 10px; /* Add some padding */
  border: 1px solid #e0d4d4; /* Add a softer border color */
  border-radius: 5px; /* Round the corners */
  text-align: center; /* Center the text */
  margin-top: 5px; /* Add some margin at the top */
}
@keyframes dots {
  0%, 20% {
    content: '';
  }
  40% {
    content: '.';
  }
  60%,100% {
    content: '..';
  }
}

#please-wait::after,#network-message::after {
  content: '';
  animation: dots 2s steps(5, end) infinite;
}

/* HTML: <div class="loader"></div> */
#preloader5 {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #514b82;
  border: 2px solid;
  position: relative;
}
#preloader5::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}
