
#slow-network {
  display: none;
  font-family: 'Arial', sans-serif; /* Set the font family */
  font-size: 16px; /* Set the font size */
  color: #555555; /* Set a softer text color */
  background-color: #f0e9e9; /* Set a softer background color */
  padding: 10px; /* Add some padding */
  border: 1px solid #e0d4d4; /* Add a softer border color */
  border-radius: 5px; /* Round the corners */
  text-align: center; /* Center the text */
  margin-top: 5px; /* Add some margin at the top */
}
@keyframes dots {
  0%, 20% {
    content: '';
  }
  40% {
    content: '.';
  }
  60%,100% {
    content: '..';
  }
}

#please-wait::after,#network-message::after {
  content: '';
  animation: dots 2s steps(5, end) infinite;
}


/* HTML: <div class="loader"></div> */
#preloader5 {
  width: 60px;
  height: 50px;
  margin-bottom: 30PX;
  --m:no-repeat linear-gradient(90deg,#000 70%,#0000 0);
  -webkit-mask: 
    var(--m) calc(0*100%/4) 100%/calc(100%/5) calc(1*100%/5),
    var(--m) calc(1*100%/4) 100%/calc(100%/5) calc(2*100%/5),
    var(--m) calc(2*100%/4) 100%/calc(100%/5) calc(3*100%/5),
    var(--m) calc(3*100%/4) 100%/calc(100%/5) calc(4*100%/5),
    var(--m) calc(4*100%/4) 100%/calc(100%/5) calc(5*100%/5);
  background: linear-gradient(#514b82 0 0) left/0% 100% no-repeat #ddd;
  animation: l14 2s infinite steps(6);
}
@keyframes l14 {
  100% {background-size: 120% 100%}
}