@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3rem;
  --header-height-cs: 3.3rem;

  --hue-color: 250;

  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --color-white: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --margin-bottom-0-25: 0.25rem;
  --margin-bottom-0-5: 0.5rem;
  --margin-bottom-0-75: 0.75rem;
  --margin-bottom-0-1: 1rem;
  --margin-bottom-0-1-5: 1.5rem;
  --margin-bottom-0-2: 2rem;
  --margin-bottom-0-2-5: 2.5rem;
  --margin-bottom-0-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-model: 100;
  

  


  --preloader-backgorund: #FFFFFF;

  @media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.873rem;
      --smaller-font-size: 0.813rem;
    }
  }
}

/* dark color scheme  */
body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  transition: 0.3s ease-in;
}

.nav-btns {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

/* theme  */
.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: 1rem;
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

/* theme transition  */
.header,
.footer-bg {
  transition: 0.3s ease-in;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.3s ease-in;
}


h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* resuable css class  */
.section {
  padding: 3rem 0 4rem;
}

.section-title {
  font-size: var(--h1-font-size);
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--margin-bottom-0-3);
  @media only screen and (max-width: 767px) {
    margin-bottom:var(--margin-bottom-0-1-5) ;
  }
}

.section-title,
.section-subtitle {
  text-align: center;
}

/* layout  */
.container {
  max-width: 768px;
  margin-left: var(--margin-bottom-0-1-5);
  margin-right: var(--margin-bottom-0-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

.nav {
  max-width: 968px;
  height: var(--header-height-cs);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.nav-toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav-logo:hover {
  color: var(--first-color);
}

.nav-toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-bold);
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-icon {
  font-size: 1.2rem;
}

.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav-close:hover {
  color: var(--first-color-alt);
}

.show-menu {
  bottom: 0;
}

.active-link {
  color: var(--first-color);
}

.home-container {
  gap: 1rem;
}

.home-content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home-social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.home-social-icon:hover {
  color: var(--first-color-alt);
}

.home-blob {
  width: 200px;
  fill: var(--first-color);
}

.home-blob-img {
  width: 240px;
}

.home-data {
  grid-column: 1/3;
}

.home-title {
  font-size: var(--big-font-size);
}

.home-subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--margin-bottom-0-75);
}

.home-description {
  margin-bottom: var(--margin-bottom-0-2);
}

.home-scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.home-scroll-button:hover {
  transform: translateY(0.25rem);
}

.home-scroll-mouse {
  margin-right: 0.125rem;
  width: 24px;
}

.home-scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--margin-bottom-0-25);
}

.home-scroll-arrow {
  font-size: 1rem;
}

/* buttons  */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  border-color: var(--text-color);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-icon {
  font-size: 1.25rem;
  margin-left: var(--margin-bottom-0-5);
  transition: 0.3s;
}

.button-flex {
  display: inline-flex;
  align-items: center;
}

.button-small {
  padding: 0.75rem 1rem;
}

.button-white {
  background-color: #fff;
  color: var(--first-color);
}

.button-white:hover {
  background-color: #f1f1f1;
}

.button-link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color-alt);
}

.button-link:hover {
  background-color: transparent;
  color: #5b0888;
}

/* about  */

.about-img {
  width: 200px;
  border: 0.5rem;
  justify-self: center;
  align-items: center;
  filter: drop-shadow(1px 1px 1px var(--first-color-lighter));
  transition: 0.3s;
}

.about-img:hover {
  filter: drop-shadow(2px 2px 2px var(--first-color-lighter));
}

.about-description {
  text-align: center;
  margin-bottom: var(--margin-bottom-0-2-5);
}

.about-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--margin-bottom-0-2-5);
}

.about-info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: #713abe;
}

.about-info-name {
  font-size: var(--smaller-font-size);
}

.about-info-title,
.about-info-name {
  display: block;
  text-align: center;
}

.about-buttons {
  display: flex;
  justify-content: center;
}

/* -----------download button------------- */


.button-text {
  display: inline-block;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: hsl(269, 69%, 92%);
  width: 0%;
  transition: width 0.4.8s ease;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  border-radius: 10px; /* Add border radius for smoother edges */
}

/* Add animation to the progress bar */
@keyframes progressBarAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.progress-bar.animated {
  animation: progressBarAnimation 1s linear forwards; /* Adjust animation duration and timing */
}


.button{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-family: var(--small-font-size);
  font-weight: 600;
}

.button-icon {
  transition: all 2s ease-out;
  /* Add transition for icon movement */
}

/* --------------------------------- */

.skills-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-name {
  padding: 0.8rem 1.25rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: var(--small-font-size);
  background-color: var(--first-color-alt);
  border-radius: 5px;
  font-weight: 600;
  color: var(--color-white);
  transition: 0.3s ease;
}

.skills-name:hover {
  background-color: var(--first-color-alt);
}

/* qualifi  */

.qualification-tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--margin-bottom-0-2);
}

.qualification-button {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  color: hsl(var(--hue-color), 8%, 45%);
}

.qualification-button:hover {
  color: var(--first-color);
}

.qualification-icon {
  font-size: 1.25rem;
  margin-right: var(--margin-bottom-0-25);
}

.qualification-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification-subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--margin-bottom-0-1);
}

.qualification-date {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification-round {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.qualification-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification-active[data-content] {
  display: block;
}

.qualification-button.qualification-active {
  color: #5b0888;
}

/* services  */
.services-container {
  gap: 1.5rem;
  grid-template-columns: repeat(1fr);
}

.services-content {
  background-color: var(--container-color);
  padding: 2.5rem 2.5rem 1.25rem 3.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.services-content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.services-icon {
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: var(--margin-bottom-0-1);
}

.services-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--margin-bottom-0-1);
  font-weight: var(--font-medium);
}

.services-button {
  cursor: pointer;
  font-size: var(--small-font-size);
}

.services-button:hover .button-icon {
  transform: translateX(0.25rem);
}

.services-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-model);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.services-box-content {
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.services-box-services {
  row-gap: 1rem;
}

.services-box-list {
  display: flex;
}

.services-box-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--margin-bottom-0-1-5);
}

.services-box-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.services-list-icon {
  color: var(--first-color);
  margin-top: 0.25rem;
  margin-right: var(--margin-bottom-0-25);
}

.active-box {
  opacity: 1;
  visibility: visible;
}

/* projects  */
.portfolio-container {
  overflow: initial;
}

.portfolio-content {
  padding: 0 1.5rem;
}

.portfolio-img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}

.portfolio-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--margin-bottom-0-5);
}

.portfolio-description {
  margin-bottom: var(--margin-bottom-0-75);
}

.portfolio-button:hover .button-icon {
  transform: translateX(0.25rem);
}

/* projects  */

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.swiper-button-prev {
  left: -0.5rem;
}

.swiper-button-next {
  right: -0.5rem;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-angles {
  position: relative;
  bottom: 170px;
}

.project {
  text-align: center;
}

.project-bg {
  background-color: var(--first-color-second);
  padding-top: 3rem;
}

.project-title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--margin-bottom-0-75);
}

.project-description {
  margin-bottom: var(--margin-bottom-0-1-5);
}

.project-title,
.project-description {
  color: #fff;
}

.project-img {
  width: 232px;
  justify-self: center;
}

/* testimonial  */
.testimonial-data,
.testimonial-header {
  display: flex;
}

.testimonial-data {
  justify-content: space-between;
  margin-bottom: var(--margin-bottom-0-1);
}

.testimonial-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: var(--margin-bottom-0-75);
}

.testimonial-name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.testimonial-client {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.testimonial-description {
  margin-bottom: var(--margin-bottom-0-2-5);
}

.testimonial-icon {
  color: var(--first-color);
}

.swiper-container .swiper-pagination-testimonial {
  bottom: 0;
}

/* contact section  */
.contact-container {
  row-gap: 3rem;
}

.contact-info {
  display: flex;
  margin-bottom: var(--margin-bottom-0-2);
}

.contact-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--margin-bottom-0-75);
  margin-top: 15px;
}

.contact-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact-subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

/* footer   */
.footer {
  padding-top: 2rem;
}

.footer-container {
  row-gap: 3.5rem;
}

.footer-bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer-title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--margin-bottom-0-25);
}

.footer-subtitle {
  font-size: var(--small-font-size);
}

.footer-links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer-link:hover {
  color: var(--first-color-lighter);
}

.footer-social {
  font-size: 1.25rem;
  margin-right: var(--margin-bottom-0-1-5);
}

.footer-social:hover {
  color: var(--first-color-lighter);
}

.footer-copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
  margin-top: var(--margin-bottom-0-3);
}

.footer-title,
.footer-subtitle,
.footer-link,
.footer-social {
  color: #fff;
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}

.scroll-up-icon {
  font-size: 1.25rem;
  color: #fff;
  line-height: 1.40 !important;
}

.show-scroll {
  bottom: 5rem;
}

/* scroll thumb and bar  */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

/* media queries  */
/* small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--margin-bottom-0-1);
    margin-right: var(--margin-bottom-0-1);
  }

  .nav-menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav-list {
    column-gap: 0;
  }

  .home-content {
    grid-template-columns: 0.25fr 3fr;
  }

  .home-blob {
    width: 180px;
  }

  .skills-name {
    font-size: var(--small-font-size);
  }

  .qualification-data {
    gap: 0.5rem;
  }

  .services-container {
    grid-template-columns: max-content;
    justify-content: center;
  }

  .services-content {
    padding-right: 3.5rem;
  }

  .services-box {
    padding: 0 0.5rem;
  }

  .project-img {
    width: 200px;
  }

  .testimonial-data,
  .testimonial-header {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-img {
    margin-right: 0;
    margin-bottom: var(--margin-bottom-0-25);
  }

  .testimonial-data,
  .testimonial-description {
    text-align: center;
  }
}

/* medium devices */
@media screen and (min-width: 568px) {
  .home-content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home-data {
    grid-column: initial;
  }

  .home-blob-img {
    order: 1;
    justify-self: center;
  }

  .about-container,
  .skills-container,
  .portfolio-content,
  .project-container,
  .contact-container,
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification-section {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section-subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer-container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav-icon,
  .nav-toggle,
  .nav-close {
    display: none !important;
  }

  .nav-list {
    display: flex;
    column-gap: 2rem;
  }

  .nav-menu {
    margin-left: auto;
  }

  .change-theme {
    margin: 0;
  }

  .home-content {
    column-gap: 2rem;
  }

  .home-blob {
    width: 270px;
  }

  .home-scroll {
    display: block;
  }

  .home-scroll-button {
    margin-left: 3rem;
  }

  .about-container {
    column-gap: 5rem;
  }

  .about-img {
    width: 350px;
  }

  .about-description {
    text-align: initial;
  }

  .about-info {
    justify-content: space-between;
  }

  .about-buttons {
    justify-content: initial;
  }

  .qualification-tabs {
    justify-content: center;
  }

  .qualification-button {
    margin: 0 var(--margin-bottom-0-1);
  }

  .qualification {
    grid-template-columns: 0.5fr;
  }

  .services-container {
    grid-template-columns: repeat(1, 218px);
    justify-content: center;
  }

  .services-icon {
    font-size: 2rem;
  }

  .services-content {
    padding: 2rem 3rem;
  }

  .services-box-content {
    width: 450px;
  }

  .portfolio-img {
    width: 320px;
  }

  .portfolio-content {
    align-items: center;
  }

  .project {
    text-align: inherit;
  }

  .project-bg {
    background: none;
  }

  .project-container {
    background-color: var(--first-color-second);
    border-radius: 1rem;
    padding: 3rem 2.5rem 0;
    grid-template-columns: 1fr max-content;
    column-gap: 3rem;
  }

  .project-data {
    padding-top: 0.8rem;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-bg {
    padding: 3rem 0 3.5rem;
  }

  .footer-links {
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer-social {
    justify-self: flex-end;
  }

  .footer-copy {
    margin-top: 4.5rem;
  }
}

/* large devices */
@media screen and (min-width: 1024px) {

  .heder,
  .main,
  .footer-container {
    padding: 0;
  }

  .home-blob {
    width: 320px;
  }

  .home-social {
    transform: translateX(-6rem);
  }

  .services-container {
    grid-template-columns: repeat(1, 250px);
  }

  .portfolio-content {
    column-gap: 5rem;
  }

  .swiper-icon {
    font-size: 3.5rem;
  }

  .swiper-button-prev {
    left: -3.5rem;
  }

  .swiper-button-next {
    right: -3.5rem;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: -4.5rem;
  }
}

/*-- preloader --*/
.preloader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--preloader-backgorund);
  /* You can customize the background color and opacity */
  z-index: 999;

  & p {
    margin-top: 2.5%;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    /* Make the text bold */
    text-transform: uppercase;
    /* Convert text to uppercase for emphasis */
    letter-spacing: 2px;
    /* Add some letter spacing for clarity */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow for depth */
    animation: shake 0.8s infinite;
    font-family: 'Roboto', sans-serif;
    /* Use the Roboto font family */
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }

    20% {
      transform: translateX(-5px);
    }

    40% {
      transform: translateX(5px);
    }

    60% {
      transform: translateX(-5px);
    }

    80% {
      transform: translateX(5px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

.preloader-container img {
  width: 50px;
  /* Adjust the width of the preloader image as needed */
  height: 50px;
  /* Adjust the height of the preloader image as needed */
}


/*---scroll on animation for sections */
.qualification-section {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.qualification-section.visible {
  opacity: 1;
  transform: translateY(0);
  animation-delay: 1s;
}

.about-container {
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.about-container.visible {
  opacity: 1;
  transform: translateY(0);
  animation-delay: 1s;
  display: flex;
  flex-direction: column;
}

.services-container {

  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translatex(-50px);
  transition: opacity 1s, transform 1s;
}

.services-container.visible {
  opacity: 1;
  transform: translatex(0);
  animation-delay: 1s;
}


.skill-name {
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

.skill-from-left {
  transform: translateX(-50px);
  /* Start from the left */
  transition: opacity 1s, transform 1s;
}

.skill-from-right {
  transform: translateX(50px);
  /* Start from the right */
  transition: opacity 1s, transform 1s;
}

.skills-name.visible {
  opacity: 1;
  transform: translateX(0);
}

/* type js style  */
.typeJsWrapper {
  padding: 0px 0px 20px 0px;

  @media screen and (max-width: 480px) {
    padding: 0px 0px 5px 0px;
    height: 35px;
  }

  & .typeJsText {
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 32px;
    display: inline-block;
    border-right: 3px solid var(--first-color);
    max-width: max-content;

    @media screen and (max-width: 480px) {
      font-size: 19px;
    }
  }
}


.button-icon {
  font-size: 24px;
  /* Adjust size as needed */
}

@keyframes shake0 {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.shake-animation {
  animation: shake0 3s ease infinite;
  /* Adjust animation duration and timing as needed */
}

@keyframes shake1 {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-3px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0);
  }
}

.shake-animation1 {
  animation: shake1 3s ease infinite;
  /* Adjust animation duration and timing as needed */
}


.change-theme {
  font-size: 24px;
  /* Adjust size as needed */
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 480px) {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.spin-animation1 {
  animation: spin 1s linear;
  /* Adjust animation duration and timing as needed */
}

.fa-moon {
  animation: spin 1.5s linear;
}

/*--scroll-to-top--*/
.scrollup.show-scroll {
  display: block;
  animation: shake2 0.5s infinite alternate;
  padding-top: -2px;
}

@keyframes shake2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
    /* Adjust the distance for desired shake effect */
  }
}


.scroll-up-icon:active {
  animation: shake2 0.3s;
  /* Add shake animation when the button is clicked */
}

/* ---arrow animation span  */
.arrow {
  display: inline-block;
  position: relative;
  top: 1.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent var(--text-color);
  /* Adjust color as needed */
  margin-left: 5px;
  animation: arrowAnimation 2s ease-in-out infinite alternate;
}

@keyframes arrowAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(10px);
    /* Adjust distance of movement */
  }
}

.home-blob-img img {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  pointer-events: none;
}

/* --nofification warning */
.notification-rtc-toast {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--container-color);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  background-color: var(--text-color);
  animation: slideDown 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards, slideUp 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3.5s forwards;
}

.notification-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

@keyframes slideDown {
  0% {
    top: -100%;
  }

  100% {
    top: 10px;
  }
}

@keyframes slideUp {
  0% {
    top: 10px;
  }

  100% {
    top: -100%;
  }
}




/* ---blocked the content copying using ctl+c */
body {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* ----------form---------css */

.container-form-contact {

  display: grid;
  align-items: center;
  max-width: 60%;
  justify-content: center;
  margin-left: 20%;
  margin-bottom: 40px;

  @media screen and (max-width: 480px) {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 80%;
    margin-left: 12.5%;
    margin-bottom: 20%;
    margin-top: -15px;
  }

}

.feedback-input {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  border: 2px solid var(--first-color);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  box-sizing: border-box;
  outline: 0;
  background-color: transparent;
  @media screen and (min-width: 769px) {
   width: 640px;
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
  width: 480px;
  
}
  @media only screen and (max-width: 480px){
    width: 333px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    left: -5px;
  }

}

.feedback-input:focus {
  border: 2px solid #CC4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}



/* -----------notifcation--------------- */
.notification-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: var(--container-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border: 2px solid var(--border-color);
  /* Add border */
  animation: rotateBorder 3s linear infinite;
  /* Rotate the border */
}

.notification-form i {
  font-size: 2rem;
  color: var(--first-color);
  /* Yellow color for warning */
  margin-bottom: 10px;
}

.notification-form p {
  font-size: 1.2rem;
  margin: 0;
  margin-right: 30px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);
}

.close-btn:hover {
  color: #555;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.notification-form .pulse {
  animation: pulse 1s infinite alternate;
  /* Apply the pulse animation */
}

/* ----send-button in form files */
.send-button {
  background-color: var(--first-color); /* Green */
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  @media only screen and (max-width: 768px) {
    padding: 5px 10px;
    left:-5px;
    position: relative;
  }

  & .fa-paper-plane{
    margin-left: 1px;
    font-size: 16px;
    position: relative;
    right: 7px;
    @media only screen and (min-width: 992px) {
      font-size: 18px;
      position: relative;
      right: 6px;
    }
  }

  & #send-btn{
    background-color: transparent;
    padding: inherit;
    margin: inherit;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: 18px;
  }
}

.send-button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.send-button:active::before {
  transform: translate(-50%, -50%) scale(1.5);
}

.send-button:hover {
  transform: translateY(-2px);
}

.send-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: pulse 0.5s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}





/* ----sun-rotate */
.rotate {
  transition: transform 1s ease;
}

/* --------custome scroll  */
/* Customize the scrollbar */
body::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

/* Track */
body::-webkit-scrollbar-track {
  background: var(--hue-color);
  /* Color of the scrollbar track */
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--first-color);
  /* Color of the scrollbar handle */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
  /* Color of the scrollbar handle on hover */
}

/*-------carousel-component---------*/
/* Centering the slideshow */
.slideshow-container {
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding: 20px;
  /* Adjust gap */
}

.slideshow-container>image {
  flex: 0 0 100%;
  height: 100%;
  object-fit: cover;
  position: sticky;
}

/* Previous & Next buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
  width: 40px; /* Adjust size */
  height: 40px; /* Adjust size */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  border: 1.5px solid transparent; /* Added border with initial transparent color */
  border-radius: 5%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.5s ease, border-color 0.5s ease; /* Smooth transition for scale, background color, and border color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added box shadow */
  @media screen and (min-width: 770px){
    bottom: 40%;
  }
}

.prev:active,
.next:active {
  transform: translateY(-60%) scale(0.9); /* Scale down when clicked */
  border-color: var(--text-color); /* Border color on click */
  transition: transform 0.1s ease, border-color 0.1s ease; /* Faster transition on click */
}

.prev:hover,
.next:hover {
  background-color: #713abe; /* Change background color on hover */
  animation: fluidHover 1s infinite alternate; /* Fluid hover animation */
}

@keyframes fluidHover {
  0% { background-color: rgba(113, 58, 190, 0.8); }
  100% { background-color: rgba(113, 58, 190, 0.6); }
}

@media only screen and (max-width: 768px) {
  .prev,
  .next {
    bottom: 1%;
    height: 30px;
    width: 30px;
    border-color: var(--hue-color);
  }
}


.prev {
  left: 0;

  @media only screen and (max-width: 768px) {
    left:5%;
    border-color: var(--hue-color);
  }
}

.next {
  right: 0;

  @media only screen and (max-width: 768px) {
    right: 5%;
    border-color: var(--hue-color);
  }
}

/* Slides */
.mySlides {
  display: none;
  display: flex;
  scroll-snap-type: x mandatory;
}

/* Image styling */
.mySlides {
  img {
    max-width: 100%;
    height: auto;

    @media only screen and (max-width: 767px) {
      height: 230px;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      height: 280px;
    }

    @media only screen and (min-width: 992px) {
      height: 300px;
    }
  }
}


/* Caption text */
.text {
  color: #fff;
  font-size: 16px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  border-radius: 4px;
}

/* Number text */
.numbertext {
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  border-radius: 4px;
}

/* Dots */
.dot {
  cursor: pointer;
  height: 11px;
  width: 11px;
  margin: 0 4px;
  /* Adjust margin */
  box-shadow: 0 0 0 2px var(--first-color-alt);
  display: inline-block;
  transition: background-color 0.8s ease-in;
  border-radius: 50%;
  @media only screen and (max-width: 481px) {
     width: 9px;
     height: 9px;
  }
}

.active,
.dot:hover {
  height: 12px;
  width: 12px;
  background-color: var(--first-color-alt);
  @media only screen and (max-width: 481px) {
    width: 11px;
    height: 11px;
 }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .slideshow-container {
    padding: 12px;
    /* Adjust gap for mobile */
  }

  .prev,
  .next {
    width: 30px;
    height: 30px;
    font-size: 16px;
    @media only screen and (max-width: 768px) {
      width: 40px;
      height: 40px;
      font-size: 18px;
      border-color: 1px solid (--hue-color);
    }
  }

  .text {
    font-size: 14px;
  }
}

.bullet-indicator {

  @media only screen and (max-width: 768px) {
    position: relative;
    bottom: 25px;
  }
}

#carousel-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: var(--body-font);
}
/* ----donwloading spin animation */
.spin-button{
  animation: spinAnimationBtn 1s linear infinite; /* Adjust duration and timing */
}
@keyframes spinAnimationBtn {
  to {
    transform: rotate(360deg);
  }
}

/* --form toast notification */
#contact{
  & .container-form-contact{
    & #notification-form-txt{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      color: var(--text-color);
      padding: 7px;
      border-radius: 5px;  
      max-width: max-content; 
      @media only screen and (max-width: 768px){
        font-size: 18px;
      }

    }
  }
}



/* preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Change background color as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pre-text {
  display: block;
  animation: none;
  position: absolute;
  top: 54%;
  font-weight: 700;
  color: gray;
}

.footer-link {
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  &:hover{
    color:#fff;
  }
}

li {
  display: block; /* Changed to block to ensure the sublist appears below */
}
.has-sublist{
 i.fa-solid.fa-circle-chevron-down {
    margin-left: 5px;
    cursor: pointer;
    transition: transform 0.3s;
  }

  & .services-sub {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
   color: #fff;
   transition: transform 0.3s;
  }
  
  &.services-sub-list {
    color: #fff;
    background-color: transparent;
    white-space: nowrap;
    @media screen and (min-width: 768px) {
      padding-top: 10px;
       max-width: 20px;
       position: relative;
    } 
  }
  
 .show {
    display: block;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  
}

