.packshot-3-card-component {
    padding: 80px 20px;

    @media (max-width: 992px) {
        gap: 30px;
    }

    a {
        display: none;
    }

    .items {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        gap: 20px;
    }

    .item {
        flex: 1;
        position: relative;
        scroll-snap-align: center;
        will-change: flex, transform;
        transition: flex 1s cubic-bezier(0.175, 0.665, 0.32, 1.270), 
                    transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    box-sizing: border-box;
       
    }

    .packshot-card-img-container {
        border: 3px solid transparent;
        transition: border-color 1.5s ease-in;
        overflow: visible;
    }

    .product-card-img,
    .custom-video {
        width: 100%;
        aspect-ratio: 5 / 7;
        object-fit: cover;
        height: auto;
    }

    .product-card-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .product-card-text {
        padding: 5px;
        text-align: center;
        background-color: transparent;
    }

    .field-item-title {
        font-size: 24px;
        font-weight: 700;
        color: #3ccbda;
        line-height: 28px;
        margin: 0;
    }

    .field-item-heading {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        line-height: 28px;
    }

    /* Active-class state */
    .item.active-class {
        flex: 0 0 33%;
        transform: scale(1);
        width: 100%;
        z-index: 1;
        cursor: pointer;
    }

    .item.active-class .packshot-card-img-container  {
        border: 3px solid #3ccbda;
        transition: border-color 1.5s ease-in-out;
    }

    .item.active-class .custom-video {
        position: absolute;
        top: 0;
        left: 0;
    }

    .item.active-class .custom-video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 3px solid #3ccbda;
        transition: border-color 1s ease-in-out;
    }

    /* Non-active-class state */
    .item:not(.active-class) {
        flex: 0 0 30%;
        transform: scale(0.96);
        padding-top: 30px;
    }

    .item:not(.active-class) .packshot-card-img-container {
        border-color: transparent;
    }

    .item:not(.active-class) .custom-video {
        display: none;
    }
}

/* Tablet (≤ 992px) */
@media (max-width: 991px) {
    .packshot-3-card-component {
        padding: 80px 0;
    }

    .packshot-3-card-component .items {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        padding: 0;
        -ms-overflow-style: none;
        justify-content: flex-start;
        gap: 10px; /* Reduced gap for tablet screens */
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .packshot-3-card-component .item {
        scroll-snap-align: initial;
    }

    .packshot-3-card-component .item.active-class {
        flex: 0 0 70%;
        transform: scale(0.80);
    }

    .packshot-3-card-component .item:not(.active-class) {
        flex: 0 0 65%;
        transform: scale(0.75);
        padding: 0;
    }
}
@media (min-width: 600px) and (max-width: 768px) and (orientation: portrait) {
    .packshot-3-card-component .items {
        gap: 3px; 
    }

    .packshot-3-card-component .item.active-class {
        flex: 0 0 68%; 
        transform: scale(0.94);
    }

    .packshot-3-card-component .item:not(.active-class) {
        flex: 0 0 63%;
        transform: scale(0.89);
    }
  }
@media (max-width: 767px) {
    .packshot-3-card-component .items {
        gap: 3px; 
    }

    .packshot-3-card-component .item.active-class {
        flex: 0 0 65%; 
        transform: scale(0.90);
    }

    .packshot-3-card-component .item:not(.active-class) {
        flex: 0 0 60%;
        transform: scale(0.85);
    }
}
/* Mobile (≤ 576px) */
@media (max-width: 576px) {
    .packshot-3-card-component .items {
        gap: 5px; 
    }

    .packshot-3-card-component .item.active-class {
        flex: 0 0 85%;
        transform: scale(0.95);
    }

    .packshot-3-card-component .item:not(.active-class) {
        flex: 0 0 80%;
        transform: scale(0.86);
        padding: 0;
    }
}

/* Large screens (≥ 1445px) */
@media (min-width: 1445px) {
    .packshot-3-card-component .product-card-img {
        height: auto;
    }
}